<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Unshipped orders')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Unshipped orders</h1>
<div th:if="${failedToShipOrderIds}">
    <h3>Shipping failed for order(s) <span th:text="${failedToShipOrderIds}"></span> not enough stock</h3>
</div>
<div th:if="${orders.empty}">You have no orders to ship.</div>
<form th:if="not ${orders.empty}" th:action="@{/orders/setorderstoshipped}" method="post" >

    <button>Set as shipped</button>

    <table>

        <tr>
            <th>ID</th>
            <th>Ordered</th>
            <th>Required</th>
            <th>Customer</th>
            <th>Comments</th>
            <th>Status</th>
            <th>Ship</th>
        </tr>

        <tr th:each="order:${orders}" th:object="${order}">
            <td align="right">
                <a th:href="@{/orders/{id}(id=*{id})}">
                    <span th:text="*{id}"></span>
                </a>
            </td>
            <td nowrap="nowrap" align="right" th:text="*{ordered}"></td>
            <td nowrap="nowrap" align="right" th:text="*{required}"></td>
            <td align="left" th:text="*{customer.name}"></td>
            <td align="left" th:text="*{comments}"></td>
            <td nowrap="nowrap">
                <img th:src="@{/images/{status}.png(status=*{status})}">
                <span th:text="*{status}"></span>
            </td>
            <td align="center"> <input th:field="${ordersToShipForm.orderIdsToShip}" type="checkbox" name="id" th:value="*{id}"> </td>

        </tr>

    </table>

</form>


</body>
</html>