<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='order')"></head>
<body >
<nav th:replace="fragments::menu"></nav>
<h1 th:if="not ${order}">Order not found</h1>

<div th:if="${order}" th:object="${order}">


    <h1>Order <span th:text="*{id}"/></h1>
    <p>Ordered:</p>
    <b th:text="*{ordered}"/>
    <p>Required:</p>
    <b th:text="*{required}"/>
    <br/>

    <p>Customer:</p>
        <b th:if="not ${customer}">Custommer not found</b>
    <div th:if="${customer}" th:object="${customer}">
        <b>
        <p th:text="*{name}"></p>
        <p th:text="*{adres.streetAndNumber}"></p>
        <p><span th:text="*{adres.postalCode}"/> <span th:text="*{adres.city}"/> <span th:text="*{adres.state}"/></p>
        <p th:if="${country}" th:text="${country.name}"></p>
        </b>
    </div>
    <br/>

    <p>Comments:</p>
    <b th:text="*{comments}"/>
    <b th:if="not *{comments}">No comment.</b>
    <br/>

    <p>Details:</p>
    <b th:if="${orderdetails.empty}">You have no orders to ship.</b>

    <table th:if="not ${orderdetails.empty}">
        <tr>
            <th>Product</th>
            <th>Price each</th>
            <th>Quantity</th>
            <th>Value</th>
            <th>Deliverable</th>
        </tr>
        <tr th:each="orderdetail:${orderdetails}" th:object="${orderdetail}">
            <td align="right" th:text="*{product.name}"/>
            <td align="right" th:text="*{{priceEach}}"/>
            <td align="right" th:text="*{ordered}"/>
            <td align="right" th:text="*{{totalPrice}}"/>
            <td align="center"><span th:if="*{inStock}">&check;</span><span th:if="not *{inStock}">&cross;</span></td>
        </tr>
    </table>
        <p>Value:</p>
        <b th:text="*{{totalOrderPrice}}"/>
</div>
</body>
</html>